html{
    background-color: tan;
}

#nav{
    border: 2px black solid;
    display: flex;
    flex-flow: row nowrap;
    width: 60%;
    margin: auto;
}
#nav>p{
    border: solid black 1px;
    margin: auto;
    padding: 2px;
}
