html{
  background-color: bisque;
  font-family: fantasy;
}

body{
  padding: 10px;
}

.statBox{
  display:flex;
  background-color:grey;
  width: 210px;
}

#stat{
  font-size: 20pt;
  border: solid black 1px;
  text-align: left;
  padding: 5px;
  margin: 0px;
  background-color: coral;
  width: 60px;
}

#score{
  font-size: 20pt;
  border: solid black 1px;
  text-align: center;
  padding: 5px;
  margin: 0px;
  background-color: turquoise;
  width: 45px;
}

#bonus{
  font-size: 20pt;
  border: solid black 1px;
  text-align: center;
  padding: 5px;
  margin: 0px;
  background-color: violet;
  width: 45px;
}

#core{
  font-family: 'Merriweather', serif;
  width: 100px;
}

section{
  display: flex;
}

article{
  padding: 2px;
  margin: 2px;
  width: 70px;
}

p{
background-color: cornflowerblue;
font-size: 20pt;
border: solid black 1px;
text-align: left;
padding: 5px;
margin: 0px;
width: 80px;
}

